<div class="container-fluid">
    <div class="container xd-container">
      <h2>
        New Offer
      </h2>
      <form (ngSubmit)="onSubmit(offerForm.value)" #offerForm="ngForm" class="form-horizontal">
        <div class="form-group" hidden="true">
          <input type="text" hidden="true" class="form-control" id="id" [(ngModel)]="offer.id" name="id"/>
        </div>
        <div class="form-group has-feedback" [class.has-success]="title.dirty && title.valid" [class.has-error]="title.dirty &&  !title.valid">
          <label for="title" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" [(ngModel)]="offer.title" minlength="2" required name="title" #title="ngModel"/>
            <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="title.valid" [class.glyphicon-remove]="!title.valid" aria-hidden="true"></span>
            <span class="help-block" *ngIf="title.dirty && title.hasError('required')">Title is required</span>
            <span class="help-block" *ngIf="title.dirty && title.hasError('minlength')">Title must be at least 2 characters long</span>
          </div>
        </div>
        <div class="form-group has-feedback" [class.has-success]="description.dirty && description.valid" [class.has-error]="description.dirty && !description.valid">
          <label for="description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="description" [(ngModel)]="offer.description" name="description" minlength="2" required #description="ngModel"/>
            <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="description.valid" [class.glyphicon-remove]="!description.valid" aria-hidden="true"></span>
            <span class="help-block" *ngIf="description.dirty && description.hasError('required')">Description is required</span>
            <span class="help-block" *ngIf="description.dirty && description.hasError('minlength')">Description must be at least 2 characters long</span>
          </div>
        </div>
        <div class="form-group has-feedback" [class.has-success]="discount.dirty && discount.valid" [class.has-error]="discount.dirty && !discount.valid">
          <label for="discount" class="col-sm-2 control-label">Discount</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="discount" [(ngModel)]="offer.discount" name="discount" required #discount="ngModel"/>
            <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="discount.valid" [class.glyphicon-remove]="!discount.valid" aria-hidden="true"></span>
            <span class="help-block" *ngIf="discount.dirty && discount.hasError('required')">Discount is required</span>
          </div>
        </div>
        <div class="form-group has-feedback" [class.has-success]="expireDate.dirty && expireDate.valid" [class.has-error]="expireDate.dirty && !expireDate.valid">
          <label for="expireDate" class="col-sm-2 control-label">Expire Date</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="expireDate" [(ngModel)]="offer.expireDate" name="expireDate" required #expireDate="ngModel"/>
            <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="expireDate.valid" [class.glyphicon-remove]="!expireDate.valid" aria-hidden="true"></span>
            <span class="help-block" *ngIf="expireDate.dirty && expireDate.hasError('required')">Expire Date is required</span>
          </div>
        </div>
      
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="button" (click)="gotooffersList()">Back</button>
            <button class="btn btn-default" type="submit" [disabled]="!offerForm.valid">Add offer</button>
          </div>
        </div>
      </form>
    </div>
  </div>